@import url(https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700);
header {
  display: flex;
  max-width: 48rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center; }

header a {
  color: #2f3542;
  text-decoration: none; }

header a:after {
  border: 0 solid #7bed9f;
  transition: all 1s;
  content: '';
  position: absolute;
  top: -0.1rem;
  border-bottom: 0; }

header a:hover:after {
  border-bottom: 1rem; }

.title {
  font-family: "Chancery", cursive, sans-serif; }

.link {
  margin: 0 0.4rem; }

.main {
  max-width: 48rem;
  margin: 0 auto;
  display: flex-column;
  font-family: 'Noto Sans SC', sans-serif; }

.footer {
  max-width: 48rem;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.page-about {
  font-size: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  .page-about .about-style * {
    font-family: 'Noto Serif SC', serif; }
  .page-about .about-img {
    display: inline-block;
    max-width: 20%; }
  .page-about .about-intro {
    display: inline-block;
    margin-left: 2%;
    width: 73%;
    vertical-align: top; }
  .page-about .about-intro h1 {
    font-size: 2.25rem;
    margin-top: 0;
    margin-bottom: 0.9375rem; }
  .page-about .about-intro ul {
    padding: 0; }
  .page-about .about-intro .about-tag li {
    display: inline-block;
    border: 2px solid #545b62;
    border-radius: 5px;
    background: #545b62;
    padding: 2px 10px;
    margin-right: 10px;
    color: #ffffff;
    font-weight: 700; }
  .page-about .about-skill h2 {
    text-decoration: underline double black; }
  .page-about .about-skill li {
    display: inline-block;
    border: solid 2px #545b62;
    padding: 2px 10px;
    font-weight: 700; }
  .page-about .about-contact {
    position: relative;
    margin-top: 2.5rem;
    border-top: #ebf2f6 2px solid;
    padding-bottom: 2rem;
    border-bottom: #ebf2f6 2px solid;
    margin-bottom: 2.5rem; }
  .page-about .about-icon {
    position: relative;
    width: 5rem;
    border-radius: 50%;
    border: 2px double #545b62;
    margin: 0 auto;
    top: -2.5rem;
    background: #ffffff; }
  .page-about .about-icon img {
    width: 5rem; }
  .page-about .about-contact ul {
    padding: 0;
    margin: 0.25rem auto;
    text-align: center; }
  .page-about .about-contact li {
    display: inline-block;
    padding: 0 0.5rem; }

