@import url(https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,700);
.component-header {
  display: flex;
  max-width: 48rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center; }
  .component-header .title {
    font-family: 'Chancery', cursive, sans-serif;
    color: #2f3542; }
  .component-header ul.nav-items {
    display: inline; }
    .component-header ul.nav-items li {
      display: inline;
      padding: 0 0.2rem; }
    .component-header ul.nav-items a {
      color: #2f3542;
      text-decoration: none; }

.main {
  max-width: 48rem;
  margin: 0 auto;
  display: flex-column;
  font-family: 'Noto Sans SC', sans-serif; }
  .main img {
    max-width: 48rem;
    align: center; }

.footer {
  max-width: 48rem;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

